{% extends 'base/base_auth.html' %}
{% load static %}
{% block page_content %}
    {% include 'common/toast.html' %}
<div class="row">

	<div class="col-md-4">
		<div class="card">
		  <div class="cardHeader">
		    <h1>{{ request.user.username }}</h1>
		  </div>
		  <div class="cardContainer">
		    <p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
		  </div>
		</div>
		<br/>

		<div class="card">
		  <div class="cardHeader" style="background-color:#245580;">
		    <h1>{{ all_groups }}</h1>
		  </div>

		  <div class="cardContainer">
		    <p> <i class="glyphicon glyphicon-tasks"></i> Count of all groups</p>
		  </div>
		</div>

<br/>

<div class="card">
		  <div class="cardHeader" style="background-color:#245544;">
		    <h1>{{ all_user_lockers }}</h1>
		  </div>

		  <div class="cardContainer">
		    <p> <i class="glyphicon glyphicon-user"></i> Count of all users lockers</p>
		  </div>
		</div>

<br/>
        		<div class="card">
		  <div class="cardHeader" style="background-color:#245580;">
		    <h1>{{ all_lockers }}</h1>
		  </div>

		  <div class="cardContainer">
		    <p> <i class="glyphicon glyphicon-tasks"></i> Count of all lockers</p>
		  </div>
		</div>

        {% include 'analyses/count_locker_by_time.html' %}
        {% include 'analyses/count_locker_by_username.html' %}
        {% include 'analyses/count_group_by_time.html' %}

<br/>


    <div class="col-lg-7 mb-4 mb-lg-0">
                <!-- check user have uploaded picture, if not, upload default pic-->
                {% if request.user.picture %}
                    <img src="../../media/{{ request.user.picture }}" class="userImage" alt="{{ request.username }}"/>
                {% else %}
                    <img src="{% static 'photos/anonym.png' %}" class="userImage" alt="anonym"/>
                {% endif %}
            </div>

	</div>
</div>
{% endblock %}