<!-- check if have error or success messages -->
{% if messages %}
    {% for message in messages %}
{#        <div class="alert {{ message.tags }} m-2" id="msg" role="alert">#}
{#            {{ message }}#}
{#        </div>#}
        <div class="toast" data-autohide="false" id="msg">
    <div class="toast-header">
        {% if message.tags == 'danger' %}
      <strong class="mr-auto text-{{ message.tags }}">Operation is failed!</strong>
        {% else %}
        <strong class="mr-auto text-{{ message.tags }}">Successful operation!</strong>
        {% endif %}
      <small class="text-muted">{{ request.user.username }}</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
    </div>
    <div class="toast-body">
      {{ message }}
    </div>
  </div>
{#</div>#}
    {% endfor %}
{% endif %}