.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bi.bi-person-circle{
    color: #2f3089;
}
.cardHeader > h1{
    color: #eed269;
}
.user-heading{
    margin-top: 20px;
    margin-bottom: 20px;

}
#myChart{
    margin-top: 20px;
}
#myChart1{
    margin-top: 20px;
}