body{
    background-color: #eed269;
    font-family: "Courier New";
    color: #eed269;
}
.p-5{
     background-color: #2f3089;
}

.form-control, .form-control:focus {
    background-color: #eed269;
    margin-bottom: 10%;
}

#login_h1{
    color: #2f3089;
    text-align: center;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#submit-id-submit{
    background-color: #eed269;
    color: #2f3089;
}

footer{
    color: #2f3089;
    text-align: center;
}

.input-group.mb-2{
    display: none;
}