.nav-link {
    color: #eed269;
}

#userProfile {
    color: #eed269;
}

.dropdown-menu.dropdown-menu-dark.text-small.shadow.show {
    background-color: #2f3089;
}

.dropdown-menu-dark .dropdown-item {
    color: #eed269;
    font-family: "Courier New";
}

.nav-link:focus, .nav-link:hover {
    color: white;
    text-decoration: underline;
}

.text-white {
    color: #eed269 !important;
}